.dashboard {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .menu {
        position: absolute;
        background-color: #325db9;
        width: 300px;
        height: 100vh;
    }

    header {
        width: 100%;
        height: 64px;
        background-color: #396ad3;
        display: flex;
        align-items: center;
        padding: 0 32px;

        input {
            position: absolute;
            width: 0;
            height: 0;
            z-index: 1;
            display: block;
        }

        img {
            position: absolute;
            top: 18px;
            width: 24px;
            cursor: pointer;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-self: center;
        justify-content: center;

        .user {
            display: flex;
            align-self: center;
            justify-content: space-around;
            flex-direction: column;
            height: 50%;
            width: 50%;
            border: 1px solid #a3a3a3;
            align-items: center;
            border-radius: 8px;
            color: #474747;

            h2 {
                color: #a3a3a3;
                font-size: 20px;
                font-weight: 400;
            }
        }

        button {
            border: none;
            align-self: center;
            background-color: #396ad3;
            color: white;
            height: 48px;
            width: 50%;
            border-radius: 8px;
            margin-top: 16px;
            cursor: pointer;
            outline: none;
            font-size: 22px;
            font-weight: 400;
            padding: 8px;
        }
    }
}

@media (max-width: 600px) {
    .dashboard {
        .menu {
            width: 100%;
        }

        .content {
            .user {
                width: 90%;
                height: 70%;
            }

            button {
                width: 90%;
            }
        }
    }
}