.sidebar {
    width: 20%;
    height: 100%;
    background-color: #204aa7;
    position: absolute;
    z-index: 2;
    transition: all 0.5s;

    &:active {
        transform: translateX(0px); 
    }
}

.shadow {
    background-color: #0000006c;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    animation: shadow 0.5s;
}

.hiddenSidebar {
    width: 300px;
    height: 100%;
    background-color: #204aa7;
    transform: translateX(-300px);
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
}

.dashboard {
    background-color: #ffffff;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    border: none;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
    }
}

@keyframes shadow {
    from {
        width: 100%;
    } to {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
    }

    .hiddenSidebar {
        width: 100%;
        transform: translateX(0px);
        transform: translateY(-100%);
    }

    .shadow {
        display: none;
    }

    .dashboard {
        .content {
            .user {
                width: 90%;
                height: 70%;
            }

            button {
                width: 90%;
            }
        }
    }

}