.pageAuth,
.pageAuthDark {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    aside {
        flex: 2;
        height: 100%;
        min-width: 450px;
    }

    main {
        flex: 4;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        section {
            display: flex;
            flex-direction: column;
            width: 60%;

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 23px;
                border-radius: 8px;
                margin-top: 32px;

                h1 {
                    color: #474747;
                    font-size: 34px;
                    text-align: center;
                    margin-bottom: 32px;

                    span {
                        color: #396ad3;
                    }
                }

                label {
                    color: #696969;
                    align-self: center;
                    margin: 24px 0;
                }
            }

            input {
                border: 1px solid #a3a3a3;
                color: #474747;
                outline: none;
                height: 48px;
                font-size: 22px;
                margin-bottom: 24px;
                padding: 8px;
                border-radius: 8px;
                font-weight: 300;

                &::placeholder {
                    color: #a3a3a3;
                    font-size: 20px;
                    font-weight: 300;
                }

                &:focus {
                    border: 1px solid #396ad3;
                }
            }

            .googleBtn {
                background-color: #EA4335;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;
                border: none;

                img {
                    width: 32px;
                    margin-right: 32px;
                }

                p {
                    color: white;
                    white-space: nowrap;
                    margin-top: 0;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            button {
                border: none;
                background-color: #396ad3;
                color: white;
                min-height: 48px;
                border-radius: 8px;
                margin-top: 16px;
                cursor: pointer;
                outline: none;
                font-size: 22px;
                font-weight: 400;
                transition: all linear 0.1s;

                &:hover {
                    transform: scale(1.02);
                }

                &:active {
                    transform: scale(0.98);
                }
            }

            .connect {
                display: flex;
                flex-direction: row;
                height: 64px;
                align-items: center;

                input {
                    margin: 0px;
                    margin-right: 4px;
                }
            }

            p {
                margin-top: 16px;
                color: #696969;

                a {
                    color: #396ad3;
                    font-weight: 500;
                    text-decoration: none;
                    margin-left: 4px;
                }
            }

            .error {
                color: #ac0202;
                border: 1px solid #ac0202;
                padding: 8px;
                border-radius: 8px;
                text-align: center;
            }
        }
    }
}

.pageAuth {
    aside {
        background-color: #396ad3;
    }

    main {
        background-color: #ffffff;

        section {
            form {
                border: 1px solid #a3a3a3;
            }
        }
    }
}

.pageAuthDark {
    aside {
        background-color: #312d59;
    }

    main {
        background-color: #1a192a;

        section {
            form {
                border: none;
                background-color: #312d59;

                h1 {
                    color: #ffffff;

                    span {
                        color: #d12d7c;
                    }
                }

                .googleBtn {
                    background-color: #d12d7c;
                }

                input {
                    border: none;

                    &:focus {
                        border: 1px solid #d12d7c;
                    }
                }

                .connect {
                    label {
                        color: white;
                    }
                }

                p {
                    color: white;

                    a {
                        color: #d12d7c;
                    }
                }

                button {
                    background-color: #d12d7c;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .pageAuth, .pageAuthDark {
        aside {
            display: none;
        }
    }

    .pageAuthDark {
        main {
            section {
                form {
                    .error {
                        color: #d12d7c;
                        border: 1px solid #ffffff;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .pageAuth, .pageAuthDark {
        height: 100%;

        aside {
            display: none;
        }

        main {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            section {
                width: 100%;
                padding: 32px 16px;
                height: 100%;
                justify-content: center;
                
                form {
                    border: none;
                    padding: 0px;
                    border-radius: 0;
                }
            }
        }
    }

    .pageAuthDark {
        main {
            background-color: #312d59;
        }
    }
}

@media (max-height: 500px) {
    .pageAuth {
        main {
            form {
                justify-content: initial;
            }
        }
    }
}