.signup, .signupDark {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #396ad3;
    align-items: center;
    justify-content: center;

    aside {
        flex: 2;
        height: 100%;
        min-width: 450px;
        background-color: #396ad3;
    }

    main {
        background-color: #ffffff;
        flex: 4;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        section {
            display: flex;
            flex-direction: column;
            width: 60%;

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 23px;
                border-radius: 8px;
                margin-top: 32px;
                background-color: #ffffff;
                border: 1px solid #a3a3a3;

                h1 {
                    color: #474747;
                    font-size: 34px;
                    text-align: center;
                    margin-bottom: 32px;

                    span {
                        color: #396ad3;
                    }
                }

                label {
                    color: #696969;
                    align-self: center;
                    margin: 24px 0;
                }
            }

            input {
                border: 1px solid #a3a3a3;
                ;
                color: #474747;
                outline: none;
                height: 48px;
                font-size: 22px;
                margin-bottom: 16px;
                padding: 8px;
                border-radius: 8px;
                font-weight: 300;

                &::placeholder {
                    color: #a3a3a3;
                    font-size: 20px;
                    font-weight: 300;
                }

                &:focus {
                    border: 1px solid #396ad3;
                }
            }

            button {
                border: none;
                background-color: #396ad3;
                color: white;
                min-height: 48px;
                border-radius: 8px;
                margin-top: 8px;
                cursor: pointer;
                outline: none;
                font-size: 22px;
                font-weight: 400;
            }

            p {
                margin-top: 16px;
                color: #696969;

                a {
                    color: #396ad3;
                    font-weight: 500;
                    text-decoration: none;
                    margin-left: 4px;
                }
            }

            .error {
                color: #ac0202;
                border: 1px solid #ac0202;
                padding: 8px;
                border-radius: 8px;
                text-align: center;
            }
        }
    }
}

.signupDark {
    aside {
        background-color: #312d59;
    }

    main {
        background-color: #1a192a;

        section {
            form {
                border: none;
                background-color: #312d59;

                h1 {
                    color: #ffffff;

                    span {
                        color: #d12d7c;
                    }
                }

                input {
                    border: none;

                    &:focus {
                        border: 1px solid #d12d7c;
                    }
                }

                .connect {
                    label {
                        color: white;
                    }
                }

                p {
                    color: white;

                    a {
                        color: #d12d7c;
                    }
                }

                button {
                    background-color: #d12d7c;
                }
            }
        }
    }
}

@media (max-width: 875px) {
    .signup, .signupDark {
        aside {
            display: none;
        }
    }

    .signupDark {
        main {
            section {
                form {
                    .error {
                        color: #d12d7c;
                        border: 1px solid #ffffff;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .signup, .signupDark {
        height: 100%;
        width: 100%;

        main {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            section {
                width: 100%;
                padding: 32px 16px;
                height: 100%;
                justify-content: center;
                
                form {
                    border: none;
                    padding: 0px;
                    border-radius: 0;
                }
            }
        }
    }

    .signupDark {
        main {
            background-color: #312d59;
        }
    }
}